/* CSS Document */
.body{
background-color:#FFFFFF;
font-family:Rosewood Std Regular;
font-size:12px;
font-weight:normal;}
/* asosiy xossalar */

/* header styles */

/* content styles */
.article_img {
border-color:#CCCCCC;
border-style:solid;
border-width:1px;
margin:5px
}
/* right styles */

/* footer styles */
